.header-wrapper{
    background-color: #181617;
}

.main-header{
    background-color: #181617;
    min-height: 686px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    width: 670px;
}

.main-navigation ul{
    margin: 0;
}

.main-navigation{
    margin-left: 163px;
    padding-top: 52px;
    width: 340px;
    z-index: 2;
}

.main-navigation ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 18px;
    
    list-style-type: none;
}

.main-navigation li a{
    color: rgba($color: #FFFFFF, $alpha: 0.2);
}

.main-navigation a:focus,
.main-navigation a:hover{
    color: rgba($color: #FFFFFF, $alpha: 1);
}

.main-navigation a:active{
    color: rgba($color: #FFFFFF, $alpha: 0.7);
}

.header-logo{
    margin-top: 45px;
    z-index: 2;
}

.header-down{
    width: 100%;
    position: relative;
    display: flex;
}

.header-down__left-side{
    margin-top: 93px;
    margin-left: 162px;
    width: 338px;
    z-index: 2;
}

.header-down p{
    color: $standart-color;
}

.header-down h1{
    margin-top: 25px;
    margin-bottom: 0px;

    font-family: $yesevaone-font-tree;
    font-size: 52px;
    font-weight: 100;
}

.header__description{
    margin-top: 12px;

    line-height: 24px;
}

.header-down__button{
    width: 200px;
    margin-left: 1px;
    margin-top: 50px;
}

.header-down__right-side{
    position: absolute;
    top: -100px;
    left: 290px;
    width: 1000px;
    height: 712px;
}

.header-down__right-side .cat-desktop-image{
    width: 1036px;
    overflow: hidden;
}

.header-down__right-side .cat-tablet-image{
    display: none;
}

.header-down__right-side .cat-mobile-image{
    display: none;
}

.header-down img{
    width: 1100px;
    object-fit: contain;
    z-index: 1;
}

.header-services__services-list{
    padding: 0;
    margin-top: 45px;
    position: relative;

    list-style-type: none;
}

.header-services__services-list::before{
    content: "";
    position: absolute;
    height: 77.5px;
    top: -100px;
    left: 43px; 


    border: 0.5px solid white;
}

.header-services__services-list li{
    margin-left: 37px;
    margin-top: 7px;
    width: 13px;

    text-align: center;
}

.header-services__services-list svg:hover path,
.header-services__services-list svg:focus path{
    fill: $standart-color;
}

.header-services__services-list svg:active path{
    fill: rgba($color: $standart-color, $alpha: 0.5);
}

@media (max-width: $tablet-width) {
    .main-header{
        min-height: 590px;
    }
    
    .header-top{
        width: 380px;
    }

    .header-logo{
        margin-top: 27px;
    }

    .main-navigation{
        margin-left: 13px;
        padding-top: 36px;
        width: 265px;
    }

    .main-navigation a{
        font-size: 15px;
    }

    .header-down__left-side{
        margin-top: 74px;
        margin-left: 15px;
    }

    .header-services__services-list::before{
        display: none;
    }

    .header-services__services-list{
        display: flex;
        margin-top: 50px;
    }

    .header-services__services-list li{
        margin-left: 12px;
    }

    .header-down__right-side{
        position: absolute;
        top: 0px;
        left: 10px;
        width: 800px;
        height: 612px;
    }
    
    .header-down__right-side .cat-tablet-image{
        display: block;
        width: 713px;
        overflow: hidden;
    }

    .header-down__right-side .cat-desktop-image{
        display: none;
    }

    .header-down img{
        width: 800px;
        object-fit: contain;
    }
}