.pets {
  min-height: 816px;
}

.pets h2 {
  margin-top: 223px;
  margin-bottom: 0;

  font-family: $yesevaone-font-tree;
  font-size: 36px;
  text-align: center;
  font-weight: 300;
}

.pets p {
  width: 523px;
  margin: 0 auto;
  margin-top: 18px;

  font-size: 16px;
  line-height: 26px;
  color: $standart-color;

  text-align: center;
}

.pets__list-of-genders {
  margin: 0;
  margin-top: 44px;
  margin-left: 473px;
  width: 290px;
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.pets__pictures ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
  width: 1080px;
  height: 513px;

  list-style-type: none;
}

.pets__pictures .slider__button {
  display: none;
}

.pets__males {
  position: relative;
  margin: 0;
  margin-top: 45px;
  margin-left: 80px;
}

.pets__link-button {
  margin: 0 auto;
  margin-top: 27px;
  width: 200px;
}

@media (max-width: $tablet-width) {
  .pets h2 {
    margin-top: 102px;
    margin-bottom: 0;

    font-family: $yesevaone-font-tree;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
  }

  .pets__pictures ul {
    width: 573px;
    height: auto;
    min-height: 491px;
  }  

  .pets__pictures .slider__button {
    display: block;
  }

  .pets__list-of-genders {
    margin-top: 44px;
    margin-left: 185px;
    width: 290px;
    display: flex;
    justify-content: space-between;

    list-style-type: none;
  }

  .pets__males {
    position: relative;
  }

  .males__main-picture {
    z-index: 1;
    margin-top: -5px;
    margin-left: -10px;
    width: 234px;
    height: 254px;
  }

  .males__left-side {
    position: absolute;
    top: 142px;
    left: -37px;
    z-index: 0;
  }

  .males__left-side img{
    width: 429px;
    height: 197px;
  }

  .males__right-side {
    z-index: 0;
    position: absolute;
    top: 142px;
    right: 10px;
  }

  .males__right-side img {
    width: 470px;
    height: 198px;
  }

  .pets__previous-button {
    display: block;
    position: absolute;
    top: 448px;
    left: 20px;
  }

  .pets__next-button {
    display: block;
    position: absolute;
    top: 448px;
    right: 27px;
  }

  .pets__link-button {
    margin-top: 49px;
    margin-left: 254px;
  }
}

@media (max-width: $mobile-width) {
  .pets {
    min-height: 515px;
  }

  .pets h2 {
    margin-top: 52px;

    font-size: 28px;
  }

  .pets p {
    width: 300px;
    margin-top: 20px;

    font-size: 14px;
    line-height: 19px;
  }

  .pets__pictures ul {
    min-height: 252px;
  }

  .pets__pictures {
    min-height: 252px;
  }
  
  .pets__pictures ul {
    width: 200px;
  }

  .pets__list-of-genders {
    margin: 0;
    margin-top: 31px;
    margin-left: 1px;
    width: 268px;
    display: flex;
    justify-content: space-between;
  }

  .pets__list-of-genders button {
    font-size: 16px;
  }

  .slider__button svg {
    width: 10px;
    height: 20px;
  }

  .pets__previous-button {
    display: block;
    position: absolute;
    top: 303px;
    left: 8px;
  }

  .pets__next-button {
    display: block;
    position: absolute;
    top: 303px;
    right: 17px;
  }

  .males__main-picture {
    margin-top: -26px;
    margin-left: -82px;
  }

  .males__main-picture img {
    height: 254px;
    width: 234px;
  }

  .males__left-side {
    display: none;
  }

  .males__right-side {
    display: none;
  }

  .pets__link-button {
    margin-top: 21.5px;
    margin-left: 86px;
    width: 137px;
  }
}
