.pets {
  min-height: 816px;
}

.pets h2 {
  margin-top: 223px;
  margin-bottom: 0;

  font-family: $yesevaone-font-tree;
  font-size: 36px;
  text-align: center;
  font-weight: 300;
}

.pets p {
  width: 523px;
  margin: 0 auto;
  margin-top: 18px;

  font-size: 16px;
  line-height: 26px;
  color: $standart-color;

  text-align: center;
}

.pets__list-of-genders {
  margin: 0;
  margin-top: 44px;
  margin-left: 473px;
  width: 290px;
  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.pets__pictures ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
  width: 1080px;
  height: 513px;

  list-style-type: none;
}

.pets__pictures .slider__button {
  display: none;
}

.pets__males {
  position: relative;
  margin: 0;
  margin-top: 45px;
  margin-left: 80px;
}

.pets__link-button {
  margin: 0 auto;
  margin-top: 27px;
  width: 200px;
}

@media (max-width: $tablet-width) {
  .pets h2 {
    margin-top: 102px;
    margin-bottom: 0;

    font-family: $yesevaone-font-tree;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
  }

  .pets__pictures .slider__button {
    display: block;
  }

  .pets__list-of-genders {
    margin-top: 44px;
    margin-left: 185px;
    width: 290px;
    display: flex;
    justify-content: space-between;

    list-style-type: none;
  }

  .pets__males {
    position: relative;
  }

  .males__main-picture {
    z-index: 1;
    margin-top: -42px;
    margin-left: 0px;
  }

  .males__main-picture img{
    height: 526px;
  }

  .males__left-side {
    position: absolute;
    top: 142px;
    left: -37px;
    z-index: 0;
  }

  .males__left-side img{
    width: 429px;
    height: 197px;
  }

  .males__right-side {
    z-index: 0;
    position: absolute;
    top: 173px;
    right: 79px;
  }

  .pets__previous-button {
    display: block;
    position: absolute;
    top: 448px;
    left: 20px;
  }

  .pets__next-button {
    display: block;
    position: absolute;
    top: 448px;
    right: 27px;
  }

  .pets__link-button {
    margin-top: 49px;
    margin-left: 254px;
  }
}
