.questions {
  min-height: 1100px;
}

.questions h2 {
  margin: 0;
  padding-top: 73px;

  font-family: $yesevaone-font-tree;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

.questions__description {
  width: 510px;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 50px;

  font-size: 16px;
  line-height: 24.5px;
  color: $standart-color;
  text-align: center;
}

.questions__list {
  counter-reset: num;
  padding: 0;

  list-style-type: none;
}

.questions__list li::before {
  content: counter(num);
  position: absolute;
  counter-increment: num;
  top: 18px;
  left: -80px;

  color: $standart-color;
  font-size: 70px;
  font-weight: 700;
}

.questions__list li::after {
  content: "0";
  position: absolute;
  top: 18px;
  left: -120px;

  color: $standart-color;
  font-size: 70px;
  font-weight: 700;
}

.questions__list li {
  position: relative;
  margin-left: 316px;
  margin-bottom: 38px;
  width: 793px;

  border: 1px solid rgba($color: #A07B50, $alpha: 0.41);
}

.questions__item__upper-part {
  min-height: 111px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgba($color: #A07B50, $alpha: 0.41);
}

.questions__item__upper-part h3 {
  vertical-align: middle;
  margin: auto;
  margin-left: 40px;

  font-size: 16px;
  font-weight: 500;
  color: #DDD0C3;
}

.questions__item__upper-part button {
  position: relative;
  width: 104px;
  min-height: 100%;
}

.upper-part__button_active {
  background-color: $standart-color;
  border: none;
}

.upper-part__button_unactive {
  border: none;
  background: none;
  border-left: 1px solid rgba($color: #A07B50, $alpha: 0.41);
}

.upper-part__button_unactive::before {
  content: "";
  position: absolute;
  top: 45px;
  left: 40px;
  width: 18px;
  height: 20px;

  background-image: url("../img/plus.svg");
}

.questions__item__upper-part button:hover {
  background-color: rgba($color: $standart-color, $alpha: 0.5);
}

.questions__item__upper-part .upper-part__button_active::before {
  content: "";
  position: absolute;
  top: 59px;
  left: 45px;
  width: 16.5px;

  border-top: 1px solid #fff;
}

.questions__item__upper-part .upper-part__button_active:hover::before {
  border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
}

.questions__item__description-block {
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.questions__item__description-block p {
  margin: 0;
  margin-top: 26px;

  color: #DDD0C3;
  line-height: 24.64px;
  font-weight: 300;
}

.questions__button {
  width: 200px;
  margin-top: -5px;
  margin-left: 908px;
}

@media (max-width: $tablet-width) {
  .questions h2 {
    padding-top: 135px;

    font-size: 34px;
  }

  .questions__list li::before {
    left: -52px;
    top: 10px;

    font-size: 50px;
  }

  .questions__list li::after {
    left: -80px;
    top: 10px;

    font-size: 50px;
  }

  .questions__list li {
    margin-left: 133px;
    margin-bottom: 22px;
    width: 550px;
  }

  .questions__item__upper-part h3 {
    margin-left: 30px;
    margin-right: 50px;
  }

  .questions__item__upper-part {
    min-height: 77px;
  }

  .questions__item__upper-part button {
    width: 72px;
  }

  .upper-part__button_unactive::before {
    top: 28px;
    left: 28px;
  }

  .questions__item__upper-part .upper-part__button_active::before {
    top: 37px;
    left: 29px;
  }

  .questions__item__description-block {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 130px;
    padding-bottom: 23px;
  }

  .questions__item__description-block p {
    margin-top: 24px;
  }

  .questions__button {
    margin-left: 483px;
    margin-top: -3px;
    
  }
}

@media (max-width: $mobile-width) {
  .questions {
    min-height: 855px;
  }  

  .questions h2 {
    padding-top: 51px;
  
    font-size: 28px;
  }

  .questions__description {
    width: 200px;
    margin-top: 30px;
    margin-bottom: 26px;
  
    font-size: 14px;
    line-height: 19px;
  }

  .questions__list li::before {
    display: none;
  }
  
  .questions__list li::after {
    display: none;
  }

  .questions__list li {
    margin-left: 13px;
    margin-bottom: 28.5px;
    width: 282px;
  }

  .questions__item__upper-part {
    min-height: 40px;
  }
  
  .questions__item__upper-part h3 {
    vertical-align: middle;
    margin: 10px 14px;
    width: 216px;
  
    font-size: 13px;
    line-height: 19px;
  }
  
  .questions__item__upper-part button {
    position: relative;
    width: 41px;
    min-height: 100%;
  }

  .upper-part__button_unactive::before {
    content: "";
    position: absolute;
    top: 32%;
    left: 10.5px;
    width: 18px;
    height: 20px;
  
    background-image: url("../img/plus.svg");
  }

  .questions__item__upper-part .upper-part__button_active::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 13px;
    width: 16.5px;
  
    border-top: 2px solid #fff;
  }

  .questions__item__description-block {
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 8px;

    font-size: 14px;
  }

  .questions__item__description-block p{
    margin-top: 9px;

    line-height: 19px;
  }

  .questions__button {
    margin-left: 88px;
    margin-top: -14px;
    padding: 6px 0;
    width: 130px;
  }
}