@media (max-width: $mobile-width) {
  .footer__logo {
    display: block;
    margin-top: 5px;
    margin-left: 126px;
  }

  .footer__logo svg {
    width: 56px;
    height: 25px;
  }

  .main__footer {
    display: flex;
    flex-direction: column-reverse;
    min-height: 156px;

    background-color: #151313;
  }

  .footer__services__list {
    margin-top: 5px;
    margin-left: 108px;
    display: flex;

    list-style-type: none;
  }

  .footer__services__list li {
    margin-right: 20px;
  }

  .footer__contacts__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 35px;

    text-align: center;
    list-style-type: none;
  }

  .footer__contacts__list .address {
    margin-left: 0px;
  }

  .footer__contacts__list .phonenumber {
    margin-left: 0px;
    margin-top: 10px;
  }
}
