@media (max-width: $mobile-width) {
  .description {
    min-height: 936px;
  }

  .description-wrapper {
    min-width: $mobile-width;
    min-height: 700px;
  }

  .description h2 {
    padding-top: 52px;
    margin: auto;
  
    width: 200px;
    font-size: 28px;
  }

  .description__list {
    width: 290px;
    margin: 0 auto;
    margin-top: 31px;
    margin-left: 13px;
  
    list-style-type: none;
  }

  .description__list a {
    min-height: 145px;
    width: 282px;
    margin-bottom: 30px;
  }

  .description__list .list__item__left-side {
    width: 244px;
  }

  .description__list h3 {
    margin-top: 19px;
    margin-left: 23px;
    margin-bottom: 0;
  
    font-size: 18px;
    line-height: 21px;
  }
  
  .description__list p {
    display: block;
    width: 209px;
    margin-bottom: 18px;
    margin-top: 10px;
    margin-left: 23px;
    margin-right: 4px;
  
    font-size: 14px;
    line-height: 19px;
    color: #fff;
  }

  .description__list .list__item__right-side {
    position: relative;
    min-height: auto;
  }

  .description__list svg {
    position: absolute;
    top: 65px;
    left: 18px;
  }
}